.board-container{
    display: flex;
    gap: 4px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(250, 247, 247);
}

.board-column {
    flex: 1;
    margin: 0 10px;
}
